<!--div class="container home-bg">
</div>
  <centered-panel title="Welcome" show-header="false" width="600px">
  <div class="home-info-panel1" style="min-height: 350px;">
    <div align="center"><h2>Welcome to Chumster!</h2></div>
    <br/>
    <br/>
    <div class="row">
      <p>
      <div class="" style="clear: right; float: left; padding: 10px; border: 1px gray solid; border-radius: 5px;">
        <i style="font-size: 34pt" class="glyphicon glyphicon-user"></i>
        <i style="font-size: 34pt" class="glyphicon glyphicon-globe"></i>
      </div>
      <div style="clear: left; float: right; padding: 10px; border: 1px gray solid; border-radius: 5px;">
        <h4>Connect with friends and the world around you on Chumster.</h4>
      </div>
      </p>
      <!--div class="col-xs-8" style="top: 0px;"></div>
    </div>
    See photos and updates from friends in News Feed.
    Share what's new in your life on your Timeline.
    Find more of what you're looking for with Graph Search.

    <p>
      <img class="thumbnail" src="http://www.w3schools.com/css/klematis4_small.jpg" width="120" height="90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      <img class="thumbnail" src="http://www.chumster.us:4242/img/users.png" width="64" height="64">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <span class="glyphicon glyphicon-share-alt"></span>
    <span class="glyphicon glyphicon-picture"></span>
    <span class="glyphicon glyphicon-list-alt"></span>
    <span class="glyphicon glyphicon-globe"></span>
    <span class="glyphicon glyphicon-envelope"></span>
  </div>
  </centered-panel-->
<div class="container home-bg">
  <div class="col-md-8 col-md-offset-2" style="margin-top: 10%; height: 450px; background-color: rgba(255, 255, 255, 0.8);">
    <div class="row">
    <p>
    <div class="" style="clear: right; float: left; padding: 10px; border: 1px gray solid; border-radius: 5px;">
      <i style="font-size: 34pt" class="glyphicon glyphicon-user"></i>
      <i style="font-size: 34pt" class="glyphicon glyphicon-globe"></i>
    </div>
    <div style="clear: left; float: right; padding: 10px; border: 1px gray solid; border-radius: 5px;">
      <h4>Connect with friends and the world around you on Chumster.</h4>
    </div>
    </p>
    </div>
    <div class="row">
    See photos and updates from friends in News Feed.
    Share what's new in your life on your Timeline.
    Find more of what you're looking for with Graph Search.

    <p>
      <img class="thumbnail" src="http://www.w3schools.com/css/klematis4_small.jpg" width="120" height="90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      <img class="thumbnail" src="http://www.chumster.us:4242/img/users.png" width="64" height="64">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

    <span class="glyphicon glyphicon-share-alt"></span>
    <span class="glyphicon glyphicon-picture"></span>
    <span class="glyphicon glyphicon-list-alt"></span>
    <span class="glyphicon glyphicon-globe"></span>
    <span class="glyphicon glyphicon-envelope"></span>
    </div>
  </div>
</div>