<centered-panel title="Sign In" enter-target="loginButton" has-error="{{ hasError }}">
    <form name="loginForm" class="form-horizontal">
        <div class="error-message-panel" ng-show="hasError">{{ errorMessage }}</div>
        <div class="control-group">
            <label for="email">Email:</label>
            <input focus id="email" name="email" class="form-control" type="email" placeholder="Email Address"
                   ng-model="user.email" required>

            <div ng-if="loginForm.email.$dirty &&
                        (loginForm.email.$error.required == true ||
                         loginForm.email.$error.email == true)"
                 ng-messages="loginForm.email.$dirty &&
                              loginForm.email.$error"
                 class="error-messages"
                 style="padding: 5px;">
                <div ng-message="required">{{ messages.email.required }}</div>
                <div ng-message="email">{{ messages.email.email }}</div>
            </div>
        </div>
        <div class="control-group">
            <label for="password">Password:</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Password"
                   ng-model="user.password" required>

            <div ng-if="(loginForm.password.$dirty &&
                         (loginForm.password.$error.required === true))"
                 ng-messages="loginForm.password.$dirty &&
                              loginForm.password.$error"
                 class="error-messages"
                 style="padding: 5px;">
                <div ng-message="required">{{ messages.password.required }}</div>
            </div>
        </div>
        <br/>
        <div class="control-group">
            <div align="right">
                <div class="pull-left" align="left">
                    <a href="" ng-click="resetPassword(loginForm)">Forgot password?</a>
                </div>
                <button type="submit"
                        id="loginButton"
                        class="btn btn-primary"
                        ng-click="login(loginForm)"
                        popover="Log into the site"
                        popover-trigger="mouseenter">Login
                </button>
                &nbsp;
                <button type="button"
                        id="cancelButton"
                        class="btn btn-default"
                        ng-click="cancel()">Cancel
                </button>
            </div>
        </div>

        {{ loginForm.$invalid }} - {{ loginForm.$dirty }}!<br/>
        ng-disabled="loggedIn || loginForm.$invalid"<br/>
    </form>
</centered-panel>
