<div class="container col-xs-6 col-xs-offset-4" style="width: 450px; margin-top: 10%;">
  <div class="panel panel-default" ng-class="{ 'panel-default' : !hasError, 'panel-danger' : hasError }">
    <div class="panel-heading">
      <h2 class="panel-title">Reset Password</h2>
    </div>
    <div class="panel-body">
      <div class="alert alert"
           style="margin-bottom: 0px;"
           ng-class="{ 'alert-success' : !hasError, 'alert-danger' : hasError }"
           ng-show="hasMessage">{{ message }}
      </div>
      <br/>
      <form id="loginForm" name="loginForm" class="form">
        <auto:fields fields="schema" data="user" options="options"></auto:fields>
        <div class="form-group" align="right">
          <button id="resetButton"
                  type="submit"
                  class="btn btn-primary"
                  style="width: 80px;"
                  ng-click="resetPassword(loginForm)"
                  popover="Reset your password"
                  popover-trigger="mouseenter">Reset</button>
          &nbsp;
          <button type="button"
                  id="cancelButton"
                  class="btn btn-default"
                  style="width: 80px;"
                  ng-click="cancel()">Cancel
          </button>
        </div>
        <div class="clear-margin centered">
          <a href="/register">Not a Chumster member? Register today!</a><br/>
          <img src="img/chumster.png" style="width: 75px;">
        </div>
      </form>
    </div>
  </div>
</div>
